* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: #d0eaff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product {
    width: 90%;
    max-width: 750px;
    display: flex;
}

.gallery {
    flex-basis: 47%;
    background: #241e20;
    transform: scale(1.08);
    box-shadow: -10px 5px 10px rgba(0,0,0,0.1);
    position: relative;
}

.gallery img {
    width: 100%;
    padding-top: 100px;
}

.details {
    flex-basis: 53%;
    background: #fff;
    padding: 40px 40px 40px 60px;
    box-shadow: -10px 5px 10px rgba(0,0,0,0.1);
    font-size: 13px;
    color: #777;
}

.details h1 {
    font-size: 35px;
    color: #333;
}

.details h2 {
    font-size: 30px;
    color: #555;
}

.details h3 {
    color: #00d874;
    margin-bottom: 20px;
}

.size-select,
.color-select,
.quantity-select {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.size-select p,
.color-select p,
.quantity-select p {
    width: 75px;
}

.size-select input,
.color-select input {
    display: none;
}

.size-select span {
    margin-right: 10px;
    cursor: pointer;
}

.size-select input:checked + span {
    color: blue;
    font-weight: 600;
}

.color-select span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}

.color-1 { background: red; }
.color-2 { background: #00d874; }
.color-3 { background: blue; }
.color-4 { background: pink; }

.color-select input:checked + span {
    transform: scale(0.7);
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
}

.quantity-select input {
    width: 50px;
    border-radius: 12px;
    border: 0;
    background: #eee;
    padding-left: 15px;
}

form button {
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    border-radius: 30px;
    background: #553ff0;
    color: #fff;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.controls {
    position: absolute;
    bottom: 40px;
    right: 20px;
}

.btn {
    width: 10px;
    height: 10px;
    background: rgba(225,225,225,0.5);
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.btn.active {
    background: #553ff0;
}
